@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  font-family: Outfit;

  --primary-color: #2c3e50;
  --secondary-color: #f4c542;
  --accent-color: #16a085;
}

li {
  list-style: none;
}

html,
body {
  overflow-x: hidden;
}

.small-button {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
}

.medium-button {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
}

.large-button {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 35px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
}

.large-button,
.medium-button,
.small-button {
  transition: all ease-out 300ms;
}

.large-button:hover,
.medium-button:hover,
.small-button:hover {
  background-color: #0b6957;
}

.animated {
  transition: all ease-out 300ms;
}
