@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  font-family: Outfit;

  --primary-color: #2c3e50;
  --secondary-color: #f4c542;
  --accent-color: #16a085;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
.animate-float-delay {
  animation: float 6s ease-in-out 1s infinite;
}
.animate-float-delay-2 {
  animation: float 6s ease-in-out 2s infinite;
}

li {
  list-style: none;
}

html,
body {
  overflow-x: hidden;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.large-button,
.medium-button,
.small-button {
  transition: all ease-out 300ms;
}

.large-button:hover,
.medium-button:hover,
.small-button:hover {
  background-color: #0b6957;
}

.animated {
  transition: all ease-out 300ms;
}
